.intro {
  height: 68vh;
  &__video {
    width: 70%;
    border: 2px dotted #c471af;
    border-radius: 5px;
    margin: 1vh auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    video {
      width: 100%;
    }
    h4 {
      text-align: center;
      color: #fff;
      font-size: 36px;
      letter-spacing: 25px;
    }
  }
  &__text {
    padding-right: 20px;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    flex-wrap: wrap;
    h1 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
    }
    .btn {
      margin-left: 20px;
      background-color: #845d87 !important;
      padding: 20px 40px;
      &__inner {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

@media(max-width:800px) {
  .intro__content .btn {
    padding: 15px 25px;
  }

  .intro__content .btn__inner {
    font-size: 16px;
  }
}

@media(max-width:678px) {
  .intro__text {
    padding-right: unset;
  }
  .btn {
    margin-right: unset;
  }
  .intro__content .btn__inner {
    font-size: 13px;
  }
}

@media(min-width:900px) and(max-height: 900px) {
  .intro__video {
    width: 50%;
  }
}

@media(min-width:800px) and(max-height: 700px) {
  .intro__video {
    width: 30%;
  }
  .intro__content .btn {
    padding: 15px 25px;
    margin-left: unset;
  }
  .intro__content .btn__inner {
    font-size: 13px;
  }
}